@charset "UTF-8";
@import "main.css";

/* *******************************
    글 보기 화면
******************************* */
div.content td {
	text-align : left;
	width : 800px;
}
pre {
    width: 750px;
    height: 200px;
}